.chart-listview-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chart-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
}

.data-container{
    min-height: 150px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.data-filler{
    background-color: #84DCCF;
    height: 82%;
}